	        </div>
	        <div class="push"><!--//--></div>
        </div> <!-- wrapper -->
        <div class="footer-container">
            <footer class="wrapper">
            	<p style="margin-left: 20px;">Viadeo supervisord dashboard</p>
            </footer>
        </div>
    </body>
</html>
